{% extends "Base.html" %}

{% block title %}Просмотр{% endblock %}

{% block content %}
    <div>
        <h1>Более подробно:</h1>
        {% for book1 in books %}
            <li>Название: {{ book1.name }}</li>
            <li>Описание: {{ book1.description }}</li>
            <li>Цена: {{ book1.price }}</li>
            <li>Автор: {{ book1.author }}</li>
            <li>Жанры:
                {% for elem in book1.genre.all %}
                    {{ elem }}
                {% endfor %}
            </li>
            <li>Дата добавления: {{ book1.date }}</li>
            <li>{{ book1.publisher }}</li>
        {% endfor %}
        {% for elem in Author %}
            <li>Имя: {{ elem.name }}</li>
            <li>Подробнее: {{ elem.description }}</li><p>
        {% endfor %}
        {% for elem1 in Genre %}
            <li>Имя: {{ elem1.name }}</li>
            <li>Подробнее: {{ elem1.description }}</li><p>
        {% endfor %}
        {% for elem in Publisher %}
            <li>Имя: {{ elem.name }}</li>
            <li>Подробнее: {{ elem.description }}</li><p>
        {% endfor %}
    </div>
{% endblock %}