{% extends "Base.html" %}

{% block title %}Просмотр{% endblock %}

{% block content %}
    <div>
        {% if books %}
            <h1>просмотр книг</h1>
            <a href="{% url 'book_create' %}">Добавление новой книги</a>
            <a href="">(Добавить может любой пользователь)</a>
        {% endif %}
        {% for elem in books %}
            <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название книги:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>

                <tr>
                    <td><a href="{{ elem.pk }}">{{ elem }}</a></td>
                    <td>
                    {% if perms.directory.update_book %}
                        <a href="{% url 'book_update' elem.pk %}"> Update </a>
                    {% endif %}
                    </td>
                    <td>
                    {% if perms.directory.delete_book %}
                        <a href="{% url 'book_delete' elem.pk %}">Delete</a>
                    {% endif %}
                    </td>
                    <td><a href="{% url 'cart-edit'%}?book_id={{ elem.pk }}"> Add to cart </a><p></td>
                </tr>
            </table>
        {% endfor %}

        {% if Author %}
            <h1>Просмотр Авторов</h1>
            <a href="{% url 'author_create' %}">Добавить автора</a><p>
        {% endif %}
        {% for elem in Author %}
            <a href="{{ elem.pk }}">Имя: {{ elem.name }}</a>
            <a>Подробнее: {{ elem.description }}</a>
            {% if perms.directory.update_author %}
                <a href="{% url 'author_update' elem.pk %}"> Update </a>
            {% endif %}
            </td>
            <td>
            {% if perms.directory.delete_author %}
                <a href="{% url 'author_delete' elem.pk %}">Delete</a>
            {% endif %}
            <p>
        {% endfor %}

        {% if Genre %}
            <h1>Просмотр Жанров</h1>
            <a href="{% url 'genre_create' %}">Добавить Жанр</a><p>
        {% endif %}
        {% for elem in Genre %}
            <a href="{{ elem.pk }}">Имя: {{ elem.name }}</a>
            <a>Подробнее: {{ elem.description }}</a>
            {% if perms.directory.update_genre %}
                <a href="{% url 'genre_update' elem.pk %}"> Update </a>
            {% endif %}
            </td>
            <td>
            {% if perms.directory.delete_genre %}
                <a href="{% url 'genre_delete' elem.pk %}">Delete</a>
            {% endif %}
        <p>
        {% endfor %}

        {% if Publisher %}
            <h1>Просмотр издательств</h1>
            <a href="{% url 'publisher_create' %}">Добавить издательство</a><p>
        {% endif %}
        {% for elem in Publisher %}
            <a href="{{ elem.pk }}">Имя: {{ elem.name }}</a>
            <a>Подробнее: {{ elem.description }}</a>
            {% if perms.directory.update_publisher %}
                <a href="{% url 'publisher_update' elem.pk %}"> Update </a>
            {% endif %}
            </td>
            <td>
            {% if perms.directory.delete_publisher %}
                <a href="{% url 'publisher_delete' elem.pk %}">Delete</a>
            {% endif %}
        <p>
        {% endfor %}
    </div>
{% endblock %}