<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</head>
<body>
    <lu><a href="{% url 'homepage' %}"> Домашняя страница   </a></lu>
    <lu><a href="{% url 'cart-edit' %}"> Список Покупок </a></lu>
    {% if user.is_authenticated %}
    <lu><a href="{% url 'logout' %}?next=/"> LogOut </a></lu>
    {% else %}
    <lu><a href="{% url 'login' %}"> Log in </a></lu>
    <lu><a href="{% url 'register' %}"> Register </a></lu>
    {% endif %}
    <h1>Это базовый кусок</h1>
    <h2>Воистину базовый кусок</h2>
    <h3>вы : {{ user }};</h3>
    <h3>{% if perms.directory.delete_book %}Есть возможность удалять книги!{% endif %}</h3>
    <div style="background-color: green">Тут заканчивается базовый шаблон</div>
    {% block content %}
    <h3>Как ты сюда попал?!!!</h3>
    {% endblock %}
</body>
</html>