{% extends "Base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Главная страница 321</h1>
    {% if user.is_authenticated %}
        <lu><a href="{% url 'logout' %}"> Приветствуем на сайте {{ user }} </a></lu>
    {% else %}
        <lu>Приветствуем незарегистрированного пользователя ;)</lu>
        <lu>Регистрация находиться в шапке сайта , посмотри выше</lu>
    {% endif %}
    <h2> Вы зашли {{ user }} </h2>
    <h2><a href="detail/book">Книги</a></h2>
    <h2><a href="detail/author">Авторы</a></h2>
    <h2><a href="detail/genre">Жанры</a></h2>
    <h2><a href="detail/publisher">Издательства</a></h2>
{% endblock %}